<div class="root">
	<div class="row">
		<div class="span12">
			<div class="grey-box">
				<h3>Editing physician</h3>

				<%= render 'form' %>

				<%= link_to 'Show', @physician %> |
				<%= link_to 'Back', physicians_path %>
        	</div>      
    	</div>
	</div>
</div>