<div class="root">
    <div class="row">
        <div class="span12">
            <div class="grey-box">   
				<h3>Editing category</h3>

				<%= render 'form' %>

				<%= link_to 'Show', @category %> |
				<%= link_to 'Back', categories_path %>
            </div>      
        </div>
    </div>
</div>